/* Alem */
header{
    background-color: rgb(37, 37, 37);
}
.header_item1{
    display: flex;
    gap: 10px;
    
}
.header_item2{
    display: flex;
    gap: 10px;
}
.header2{
    margin-left: 180px;
    background-color: rgb(10, 13, 26);
    width: 1310px;
    padding: 10px;
    
}

.item11{
    background-color: rgb(30, 29, 29);
    width: 208px;
   
    display: block;
}
.item11:hover{
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(20, 54, 55);
  .header_p1{
    color: rgb(17, 134, 134);
  }
  
}

a{
    text-decoration: none;
}

.header_p1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    
 }
 .header_p2{
    color: rgb(184, 182, 182);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* Alem */


/* Muhammad */

.footer_item1 {
    margin-top: 50px;
    gap: 40px;
    display: flex;
    margin-left: 40px;
}

.footer_item2 {
    width: 500px;
    margin-right: 70px;
}

.fut2 p{
    color: rgb(221, 221, 221);
}

.footer{ 
    display: flex;
    background-color: rgb(21, 24, 36);
    width: 100%;
    padding: 50px 50px;
    width: 1230px;
    margin-left: 170px;

}

.fooher {
    background-color: rgb(41, 141, 223);
    color: white;
    border-radius: 10px;
    width: 105px;
    height: 40px;
    border: none;
}

body{
    background-color: rgb(37, 37, 37);
}

.pi{
    color: white;
}


