.fut1 {
    margin-top: 50px;
    gap: 40px;
    display: flex;
    margin-left: 40px;
}

.fut2 {
    width: 500px;
    margin-right: 70px;
}

.fut2 p{
    color: rgb(221, 221, 221);
}

.futer {
    margin-top: 100px;
    display: flex;
    background-color: rgb(70, 70, 70);
    width: 100%;
    border-radius: none;
    border-radius: 10px;

}

button {
    background-color: rgb(41, 141, 223);
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    border: none;
}
